#challenge-list a.card:hover {
    text-decoration: none;
    background-color: #fafafa;
}

#challenge-list .challenge-points-container {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    text-align: right;
    font-size: 2em;
    line-height: 2.5em;
    vertical-align: middle;
}

.challenge-title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.challenge-card {
    background-color: #f0fff0;
}

#challenge-list a.challenge-card:hover {
    background-color: #e8ffe8;
}

.tag {
    font-size: 12px;
    background-color: #e1ecf4;
    color: #39739d;
    padding: 4px;
    margin: 2px;
    border-radius: 4px;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 36px;
    background-color: #111111;
    color: #bbbbbb;
}

.footer > span {
    height: 27px;
}

/**
New Rules
*/

@font-face {
    font-family: "JockeyOne-Regular";
    src: url("./webfonts/JockeyOne-Regular.eot"); /* IE9 Compat Modes */
    src: url("./webfonts/JockeyOne-Regular.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("./webfonts/JockeyOne-Regular.otf") format("opentype"),
        /* Open Type Font */ url("./webfonts/JockeyOne-Regular.svg")
            format("svg"),
        /* Legacy iOS */ url("./webfonts/JockeyOne-Regular.ttf")
            format("truetype"),
        /* Safari, Android, iOS */ url("./webfonts/JockeyOne-Regular.woff")
            format("woff"),
        /* Modern Browsers */ url("./webfonts/JockeyOne-Regular.woff2")
            format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "schdesign";
    src: url("./webfonts/schdesign.eot"); /* IE9 Compat Modes */
    src: url("./webfonts/schdesign.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("./webfonts/schdesign.otf") format("opentype"),
        /* Open Type Font */ url("./webfonts/schdesign.svg") format("svg"),
        /* Legacy iOS */ url("./webfonts/schdesign.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("./webfonts/schdesign.woff")
            format("woff"),
        /* Modern Browsers */ url("./webfonts/schdesign.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

.footer-schdesign {
    font-family: "schdesign";
    letter-spacing: 0;
}

.text-schdesign {
    color: #f8485e;
}

body {
    background-color: #1d1d1d;
    color: #eeeeee;
    font-family: "JockeyOne-Regular";
    letter-spacing: 0.6px;
}

/**
Helper classes
*/

.bg-black {
    background-color: rgb(17, 17, 17);
    background-color: #111111;
}

.border-1-half {
    border-width: 1.5px;
}

.border-color-light {
    border-color: #777777 !important;
}

.text-allcaps {
    text-transform: uppercase;
}

.grid {
    display: grid;
    justify-content: center;
    gap: 2rem;
    column-gap: 3.5rem;
}

.grid-autocol {
    grid-template-columns: repeat(auto-fill, 330px);
}

.box {
    border-radius: 1000px;
    background-color: #4e0000;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.form-dark input {
    background-color: #333333;
    color: #cccccc;
    border: none !important;
}

.form-dark input:focus {
    background-color: #444444;
    color: #eeeeee;
}

.table-no-bold th {
    font-weight: normal;
}
