{% extends 'wargame/base.html' %} {% block content %}
<h1 class="mb-4 text-center text-danger">About us</h1>
<h2 class="mb-3 text-center">Staff</h2>
<div class="grid grid-autocol">
    {% for name in view.get_people %}
    <tr>
        <div class="box" title="{{name}}">{{name}}</div>
    </tr>
    {% endfor %}
    <div class="box" title="asjhdajsdaskdhajsdhkajkdhsakjhsdkjahskdas">
        asjhdajsdaskdhajsdhkajkdhsakjhsdkjahskdas
    </div>
    <div class="box">asd</div>
    <div class="box">asd</div>
    <div class="box">asd</div>
    <div class="box">asd</div>
</div>

{% endblock %}
